// Шрифты
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@font-face {
	font-family: 'Conv_3D-Sports-Bar';
	src: url('../fonts/3D-Sports-Bar.eot');
	src: local('☺'),
		url('../fonts/3D-Sports-Bar.woff') format('woff'),
		url('../fonts/3D-Sports-Bar.ttf') format('truetype'),
		url('../fonts/3D-Sports-Bar.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Файл обнуляющих стилей
@import "nullstyle.scss";

/*------------------------------------------------*/

body {
	font-family: 'Conv_3D-Sports-Bar';
	height: 100%;
	font-size: 16px;
	background-color: #ffea05;
	color: rgb(0, 0, 0);
}

/*------------------------------------------------*/

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.conteiner {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.button {
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	background: #ffffff;
	border-radius: 20px;
	height: 35px;
	width: 180px;
	transition: all 0.3s;

	&:active {
		position: relative;
		top: 1px
	}

	&:hover {
		color: #ffffff;
		background: rgb(0, 0, 0);
	}
}

.error {
	box-shadow: 0 0 15px #ff0000;
}

.input {
	padding: 0 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	background: #ffffff;
	border: 1px solid black;
	border-radius: 10px;
	height: 30px;
	width: 250px;
	transition: all 0.2s;

	&:active {
		position: relative;
	}

	&:focus {
		border: 2px solid #0082fc;
	}
}


/*------game------*/

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	padding: 10px;
}

.game__title {
	font-size: 35px;
	text-align: center;
	font-style: italic;
	margin-bottom: 20px;
}

.game__sign-up-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 20px;
	padding: 10px;
}

.game__sign-up-username {
	padding: 0 10px;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	background: #ffffff;
	border: 1px solid black;
	border-radius: 10px;
	height: 40px;
	width: 250px;
	transition: all 0.2s;

	&_error {
		box-shadow: 0 0 15px #ff0000;
	}

	&:active {
		position: relative;
	}

	&:focus {
		border: 2px solid #0082fc;
	}
}

.game__sign-up-username_error {
	box-shadow: 0 0 15px #ff0000;
}

.game__lobby {
	padding: 10px;
	border: 2px solid #ffff;
	border-radius: 10px;
	width: 300px;
	height: 300px;

	&-title {
		text-align: center;
		font-size: 20px;
		text-decoration: underline;
	}

	&-wrapper {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		align-items: center;
	}
}

.game__lobby-player_you {
	color: #167e24;
}


.game__loader {
	height: 100px;
	margin-bottom: 30px;

	&-title {
		text-align: center;
		font-size: 28px;
		font-style: italic;
	}
}

.game__lobby-loader {
	width: 75px;
	height: 75px;
	border: 8px solid #ffbb00;
	box-shadow: 0 0 10px #ffbb00;
	border-radius: 50%;
	border-top-color: #f4c54f95;
	position: absolute;
	left: 50%;
	top: 42%;
	transform: translate(-50%, -50%);
	animation: 1s spin infinite linear;
	visibility: visible;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.game__versus {
	text-align: center;
	margin-bottom: 35px;
}

.game__loader-move {
	height: 200px;
}

.game__enemy-player {
	margin-bottom: 35px;
	font-size: 45px;
}

.game__moves-title {
	margin-bottom: 20px;
	font-size: 30px;
	font-style: italic;
}

.game__moves-text {
	text-align: center;
	font-size: 22px;
	font-style: italic;
}

.game__moves {
	display: flex;
	row-gap: 25px;
	column-gap: 25px;
	flex-wrap: wrap;
}

.game__moves-item {
	cursor: pointer;

	&:hover {
		box-shadow: 0 0 20px #f7f7f4;
		transition: all 0.3s;
		transform: scale(1.1);
	}
}

.game__finish-title {
	font-size: 40px;
	font-style: italic;

	&_win {
		color: #00ac17;
	}

	&_lose {
		color: #ae0202;
	}
}


/*------footer------*/

.footer {
	margin-top: auto;
	height: 100px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}



@import 'tablet';
@import 'mobile';